
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<p>
<button onclick="myFunction()" style="margin:15em" class="btn orange">Fête des mères</button>
<p>
<script>
window.myFunction = function() {
    M.toast({html: 'Bonne fête mamounette'})
    M.toast({html: 'Bonne fête maman'})
    M.toast({html: 'Bonne fête moumounette'})
    M.toast({html: 'Bonne fête mamou'})
    M.toast({html: 'Bonnnnnnnnnnnnnnnnnne fêêêêêêêêêêêêêêêêêêête'})
    alert("Cliquez pour accepter votre bonne fête ^_^")
}
</script>
