<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">

    <title>CV Amaury Fischer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/maxcdn_bootstrapcdn.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="/stylesheets/code_jquery.js"></script>
    <script src="/stylesheets/maxcdn_js.js"></script>
    <link href="/stylesheet/netdna_font.min.css" rel="stylesheet">
 <link href="/stylesheets/font_google.css" rel="stylesheet">
</head>
<body style="background-color:#efefef">
    <h1 style="text-align:center">CV de Vincent boutry</h1>
</body>
